/* Externos */
/* Misc */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh; }

h1 {
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
  color: #545E62; }

p {
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
  color: #202529; }

a {
  text-decoration: none !important; }

li {
  list-style: none; }

/* Partials */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.2em;
  color: #202529; }
  .header .logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    font-size: 1.5em; }
  .header .navbar {
    font-family: "Montserrat", sans-serif; }
  .header .nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: #202529;
    margin: 0 10px;
    gap: 5rem;
    padding: 2rem;
    transition: all .3s linear; }
  .header .dropdown-menu {
    margin: 0 10px; }
  .header .dropdown-item {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: #202529;
    padding: 1rem; }
  .header .nav-link:hover {
    color: #ffffff;
    background: #545E62; }

/* Footer */
footer {
  background-color: #545E62;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif; }
    footer .footer .asesoramiento-footer {
      margin-top: 2rem; }
      footer .footer .asesoramiento-footer h3 {
        color: #ffffff;
        margin-bottom: 3%;
        font-weight: 600; }
      footer .footer .asesoramiento-footer p {
        color: #ffffff;
        font-size: 1.5em; }
      footer .footer .asesoramiento-footer .btn-contactanos {
        color: #ffffff;
        font-size: 1.5em;
        font-family: "Montserrat", sans-serif;
        border: solid 1px #ffffff;
        background-color: #545E62;
        padding: 3%;
        text-align: left;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer; }
    footer .footer .divFooter {
      margin-left: 15%;
      margin-top: 2rem; }
      footer .footer .divFooter p {
        color: #ffffff;
        font-size: 1.5em; }
      footer .footer .divFooter .iconos-footer {
        display: flex;
        flex-direction: row;
        gap: 1rem; }
      footer .footer .divFooter .iconos {
        gap: 1rem;
        height: 25px;
        width: 25px; }
    footer .footer .logo-footer img {
      width: 200px;
      margin-top: 5rem; }
  footer .finFooter {
    background-color: #545E62;
    font-size: 0.7em;
    text-align: center;
    margin-top: 5rem; }
    footer .finFooter p {
      color: #ffffff; }

/* Pages */
.inicio-banner {
  background-image: url("../Img/Homeimg.png");
  background-attachment: fixed;
  background-color: transparent;
  background-position: left center;
  background-size: cover;
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
  height: 600px;
  width: 100%;
  margin-top: 2rem; }
  .inicio-banner .Banner {
    text-align: start; }
    .inicio-banner .Banner .parrafoBanner {
      font-weight: 600;
      width: 100%;
      margin-left: 25px;
      color: #ffffff;
      position: absolute;
      margin-top: 30rem;
      padding: 1rem;
      line-height: 100%; }

.inicio-pagina {
  height: 850px;
  width: 100%;
  text-align: center;
  margin-top: 3%; }
  .inicio-pagina .titulos {
    color: #A85A4B;
    font-size: 2em;
    font-family: "Montserrat", sans-serif; }
  .inicio-pagina .texto-inicio {
    margin-top: 5%; }
  .inicio-pagina .p-Quienes-Somos {
    padding: 1%;
    font-size: 1.8em; }
  .inicio-pagina p {
    color: #A85A4B;
    margin: 4% 8% 4% 8%; }

.seccion-servicios {
  background-color: #202529;
  height: 85rem;
  width: 100%; }
  .seccion-servicios .titulo-servicios {
    color: #ffffff;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 5rem;
    letter-spacing: 10px;
    font-weight: 600; }

.cardServicios {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .cardServicios .boxServicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%; }
  .cardServicios h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 1rem 1rem 0 1rem; }
  .cardServicios .boxServicios__img {
    width: 90%;
    position: relative; }
  .cardServicios .boxServicios__info {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 90%;
    background-color: rgba(255, 255, 255, 0.856);
    height: 30%;
    text-align: left;
    font-size: 1.1em;
    padding: 2%;
    font-family: "Montserrat", sans-serif;
    color: #202529; }
  .cardServicios .boxServicios__text {
    margin: 1rem 1rem 1rem 1rem; }

.seccion-productos {
  width: 100%; }
  .seccion-productos .box-pisos {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 50%; }
    .seccion-productos .box-pisos .img-productos {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    .seccion-productos .box-pisos .info-boxProductos {
      text-align: left;
      width: 50%; }
    .seccion-productos .box-pisos h2 {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    .seccion-productos .box-pisos p {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    .seccion-productos .box-pisos .btn-productos {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer; }
  .seccion-productos .box-Paredes {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important; }
    .seccion-productos .box-Paredes .img-productos-paredes {
      width: 50%; }
    .seccion-productos .box-Paredes .info-boxProductosParedes {
      text-align: left;
      width: 50%; }
    .seccion-productos .box-Paredes h2 {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    .seccion-productos .box-Paredes p {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    .seccion-productos .box-Paredes .btn-productos {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer; }

.fin-banner {
  background-position: left center;
  background-size: cover;
  height: 600px;
  width: 100%;
  background-image: url("../Img/banner2.png"); }

.parrafoBannerFin {
  color: #ffffff;
  font-weight: 600;
  padding: 5%;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3.5em; }
  .parrafoBannerFin p {
    color: #ffffff;
    margin-top: 10rem; }

.flyer-servicios {
  background: url("../Img/banner3.png");
  background-position: left center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 2rem; }
  .flyer-servicios .titulos-img {
    position: absolute;
    text-align: center;
    padding: 2rem;
    width: 50%;
    color: #ffffff;
    margin-left: 25%;
    font-size: 5em;
    margin-top: 25rem;
    letter-spacing: 10px; }

.inicio-servicios {
  width: 100%; }
  .inicio-servicios .boxServicios {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    margin-top: 5rem;
    width: 100%;
    height: 70%; }
  .inicio-servicios .paso-paso {
    width: 50%; }
  .inicio-servicios .info-servicios {
    text-align: left;
    width: 50%; }
  .inicio-servicios .titulos-servicios {
    text-align: left;
    margin-left: 10rem;
    font-family: "Montserrat", sans-serif;
    font-size: 3.2em;
    letter-spacing: 2px;
    font-weight: 600; }
  .inicio-servicios .textos-servicios {
    text-align: left;
    margin-top: 2rem;
    margin: 5rem 20rem 5rem 10rem; }
  .inicio-servicios .servicio-final {
    margin-top: 3rem;
    margin: 5rem 20rem 5rem 10rem;
    font-weight: 600; }
  .inicio-servicios .btns-servicios {
    margin-bottom: 4rem;
    text-align: left;
    margin-left: 10rem; }
  .inicio-servicios .btn-contactanos-servicios {
    color: #202529;
    font-size: 1.8em;
    font-family: "Montserrat", sans-serif;
    border: solid 1px #202529;
    padding: 2%;
    text-decoration: none;
    font-weight: 600; }
  .inicio-servicios .boxServicios-capacitaciones {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    margin-top: 3rem;
    width: 100%; }
    .inicio-servicios .boxServicios-capacitaciones .paso-paso {
      width: 50%; }
    .inicio-servicios .boxServicios-capacitaciones .info-servicios {
      text-align: left;
      width: 50%;
      background-color: #545E62;
      color: #ffffff;
      height: 759px; }
    .inicio-servicios .boxServicios-capacitaciones .titulos-servicios {
      text-align: left;
      margin-left: 10rem;
      margin-top: 5rem;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      letter-spacing: 2px;
      font-weight: 600; }
    .inicio-servicios .boxServicios-capacitaciones .textos-servicios {
      text-align: left;
      margin-top: 2rem;
      margin: 5rem 20rem 5rem 10rem;
      color: #ffffff; }
    .inicio-servicios .boxServicios-capacitaciones .servicio-finalCapacitaciones {
      margin: 5rem 20rem 5rem 10rem;
      font-weight: 600; }
      .inicio-servicios .boxServicios-capacitaciones .servicio-finalCapacitaciones p {
        color: #ffffff; }
    .inicio-servicios .boxServicios-capacitaciones .btn-contactanos-servicios {
      color: #ffffff;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #ffffff;
      padding: 2%;
      text-decoration: none;
      font-weight: 600;
      text-align: left;
      margin-left: 10rem; }
  .inicio-servicios .boxServicios-ventas {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 70%; }
    .inicio-servicios .boxServicios-ventas .info-servicios {
      text-align: left; }
    .inicio-servicios .boxServicios-ventas .titulos-servicios {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      letter-spacing: 2px;
      font-weight: 600; }
    .inicio-servicios .boxServicios-ventas .textos-servicios {
      text-align: left;
      margin-top: 2rem; }
    .inicio-servicios .boxServicios-ventas .btns-servicios {
      margin-bottom: 4rem;
      text-align: left;
      margin-left: 10rem; }
    .inicio-servicios .boxServicios-ventas .btn-contactanos-servicios {
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-decoration: none;
      font-weight: 600; }

#sectionPisos {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 1rem; }
  #sectionPisos .subtitle-productos {
    font-weight: 600; }
  #sectionPisos p {
    font-size: 2em; }
  #sectionPisos .boxPisos {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    margin-top: 8%;
    width: 100%;
    height: 70%; }
    #sectionPisos .boxPisos .boxPisos__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    #sectionPisos .boxPisos .boxPisos__info {
      text-align: left;
      margin-top: 10rem;
      width: 50%; }
    #sectionPisos .boxPisos .boxPisos__title {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    #sectionPisos .boxPisos .boxPisos__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem;
      /*
            font-size: $text-Base;
            margin: 3rem 5rem 5rem 5rem; */ }
    #sectionPisos .boxPisos .btn-rPisos {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer; }
  #sectionPisos .boxPisosPorcelanato {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: start; }
    #sectionPisos .boxPisosPorcelanato .boxPisos__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    #sectionPisos .boxPisosPorcelanato .boxPisos__info {
      text-align: left;
      margin-top: 10rem;
      width: 50%; }
    #sectionPisos .boxPisosPorcelanato .boxPisos__title {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    #sectionPisos .boxPisosPorcelanato .boxPisos__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    #sectionPisos .boxPisosPorcelanato .btn-rPisos {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer; }

.tituloRevestimientos {
  font-size: 3.5em !important;
  font-family: "Montserrat", sans-serif !important; }

.sectionRevestimientos h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  margin-top: 5rem;
  border: solid 1px #A7ADAF;
  padding: 2rem;
  width: 100%;
  color: #A7ADAF; }

.sectionRevestimientos p {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.5em; }

/*.section-modal {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-modal {

    height: 60px;
    width: 60px;
} */
.botones-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  text-decoration: none !important; }

.boton-column {
  display: flex;
  flex-direction: column;
  font-weight: 600 !important; }

.icon-wsp {
  height: 70px;
  width: 70px;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.card-obras {
  text-align: center;
  margin-bottom: 7rem; }
  .card-obras h1 {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
    margin-top: 8rem;
    font-size: 3.2em;
    margin-bottom: 8rem;
    font-weight: 600; }
  .card-obras body {
    background-color: #ecf4fb; }
  .card-obras .btn-contactanos-servicios {
    color: #202529;
    font-size: 1.8em;
    font-family: "Montserrat", sans-serif;
    border: solid 1px #202529;
    padding: 2%;
    text-decoration: none;
    font-weight: 600; }

.img-gallery {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px; }
  .img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 1s; }
  .img-gallery img:hover {
    transform: scale(1.2); }

.ful-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99; }
  .ful-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3.2em;
    cursor: pointer;
    color: #ffffff; }
  .ful-img img {
    width: 90%;
    max-width: 600px; }

#seccion-rParedes {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 20rem;
  margin-bottom: 1rem;
  /*   .subtitle-productos {
        font-weight: 600;


    } */ }
  #seccion-rParedes .boxParedes-microCemento {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 70%; }
    #seccion-rParedes .boxParedes-microCemento .boxParedes__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    #seccion-rParedes .boxParedes-microCemento .boxParedes__info {
      text-align: left;
      margin-top: 8rem;
      font-size: 1.2em;
      width: 50%; }
    #seccion-rParedes .boxParedes-microCemento .boxParedes__title {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    #seccion-rParedes .boxParedes-microCemento .boxParedes__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    #seccion-rParedes .boxParedes-microCemento .btn-paredes {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600; }
  #seccion-rParedes .boxParedes-stuccoVeleziano {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 70%; }
    #seccion-rParedes .boxParedes-stuccoVeleziano .boxParedes__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    #seccion-rParedes .boxParedes-stuccoVeleziano .boxParedes__info {
      text-align: left;
      margin-top: 8rem;
      font-size: 1.2em;
      width: 50%; }
    #seccion-rParedes .boxParedes-stuccoVeleziano .boxParedes__title {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    #seccion-rParedes .boxParedes-stuccoVeleziano .boxParedes__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    #seccion-rParedes .boxParedes-stuccoVeleziano .btn-paredes {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600; }
  #seccion-rParedes .boxParedes-pedraFlex {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 70%; }
    #seccion-rParedes .boxParedes-pedraFlex .boxParedes__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    #seccion-rParedes .boxParedes-pedraFlex .boxParedes__info {
      text-align: left;
      margin-top: 8rem;
      font-size: 1.2em;
      width: 50%; }
    #seccion-rParedes .boxParedes-pedraFlex .boxParedes__title {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    #seccion-rParedes .boxParedes-pedraFlex .boxParedes__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    #seccion-rParedes .boxParedes-pedraFlex .btn-paredes {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600; }
  #seccion-rParedes .boxParedes-tarquini {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 70%; }
    #seccion-rParedes .boxParedes-tarquini .boxParedes__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    #seccion-rParedes .boxParedes-tarquini .boxParedes__info {
      text-align: left;
      margin-top: 8rem;
      font-size: 1.2em;
      width: 50%; }
    #seccion-rParedes .boxParedes-tarquini .boxParedes__title {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    #seccion-rParedes .boxParedes-tarquini .boxParedes__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    #seccion-rParedes .boxParedes-tarquini .btn-paredes {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600; }

.flyer-productos {
  background: url("../Img/banner4.png");
  background-position: left center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 2rem; }
  .flyer-productos .titulos-img {
    position: absolute;
    text-align: center;
    padding: 2rem;
    width: 50%;
    color: #ffffff;
    margin-left: 25%;
    font-size: 5em;
    margin-top: 25rem;
    letter-spacing: 10px; }

.seccion-productos {
  width: 100%; }
  .seccion-productos .box-pisos {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
    width: 100%;
    height: 50%; }
    .seccion-productos .box-pisos .img-productos {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    .seccion-productos .box-pisos .info-boxProductos {
      text-align: left;
      width: 50%; }
    .seccion-productos .box-pisos h2 {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    .seccion-productos .box-pisos p {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    .seccion-productos .box-pisos .btn-productos {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer; }
  .seccion-productos .box-Paredes {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important; }
    .seccion-productos .box-Paredes .img-productos-paredes {
      width: 50%; }
    .seccion-productos .box-Paredes .info-boxProductosParedes {
      text-align: left;
      width: 50%; }
    .seccion-productos .box-Paredes h2 {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    .seccion-productos .box-Paredes p {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    .seccion-productos .box-Paredes .btn-productos {
      margin: 5rem 20rem 5rem 10rem;
      color: #202529;
      font-size: 1.8em;
      font-family: "Montserrat", sans-serif;
      border: solid 1px #202529;
      padding: 2%;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer; }

.seccion-kits {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 4%; }
  .seccion-kits .boxKit-microCemento {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    text-align: end; }
    .seccion-kits .boxKit-microCemento .kit__img {
      width: 50%;
      border: #202529;
      display: flex;
      align-items: center; }
    .seccion-kits .boxKit-microCemento .kit__info {
      text-align: left;
      margin-top: 10rem;
      width: 50%; }
    .seccion-kits .boxKit-microCemento h3 {
      text-align: justify;
      font-family: "Montserrat", sans-serif;
      font-size: 3.2em;
      margin-left: 3rem;
      font-weight: 600; }
    .seccion-kits .boxKit-microCemento .kit__text {
      text-align: left;
      margin: 5rem 20rem 5rem 10rem; }
    .seccion-kits .boxKit-microCemento .kit__subtitle {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 2em;
      margin: 5rem 20rem 5rem 10rem;
      font-weight: 600; }
    .seccion-kits .boxKit-microCemento .kit__list {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
      margin: 5rem 20rem 5rem 10rem; }
    .seccion-kits .boxKit-microCemento .btns-kit {
      margin-bottom: 4rem; }
      .seccion-kits .boxKit-microCemento .btns-kit .btn-contactanos-servicios {
        margin-left: 3%;
        margin-top: 10%;
        color: #202529;
        font-size: 1.8em;
        font-family: "Montserrat", sans-serif;
        border: solid 1px #202529;
        padding: 2%;
        text-align: left;
        text-decoration: none;
        font-weight: 600;
        margin: 5rem 20rem 5rem 10rem; }

.inicio-contacto {
  background-color: #545E62;
  color: #ffffff;
  height: 300px;
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem; }
  .inicio-contacto .texto-inicio-contacto {
    position: absolute;
    text-align: center;
    margin-left: 25%; }
    .inicio-contacto .texto-inicio-contacto h1 {
      color: #ffffff;
      text-align: center;
      margin-top: 5rem;
      font-weight: 600; }
    .inicio-contacto .texto-inicio-contacto h2 {
      margin-top: 2rem; }
    .inicio-contacto .texto-inicio-contacto a {
      color: #ffffff; }
    .inicio-contacto .texto-inicio-contacto .icon-wsp {
      height: 30px;
      width: 30px;
      color: #ffffff;
      margin-top: 1rem; }

.contacto {
  background-image: url(../img/gray-concrete-wall.jpg); }
  .contacto h1 {
    color: #202529;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 3rem; }
  .contacto h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif; }
  .contacto .consulta-contacto {
    margin-top: 5%;
    text-align: center; }
  .contacto .parrafoProp {
    margin-left: 5rem;
    background: #202529;
    color: #ffffff;
    height: 20%;
    padding: 2%; }
  .contacto .contacto-llamada {
    margin-top: 5rem; }
  .contacto .btn-numero {
    margin-top: 4%;
    color: #202529;
    font-size: 1.8em;
    font-family: "Montserrat", sans-serif;
    border: solid #202529;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 10px #202529; }
  .contacto .chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    justify-content: center; }
  .contacto .icon-wsp {
    height: 30px;
    width: 30px;
    color: #ffffff; }
  .contacto p {
    margin-top: 1rem;
    color: #202529; }

/* FORMULARIO */
.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mb-3 .form-select {
    width: 50rem;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em; }

.form-label {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  font-size: 1.8em; }

.form-control {
  width: 50rem; }

#exampleFormControlTextarea1 {
  margin-top: 2rem; }

.btn {
  margin-top: 2rem;
  color: #ffffff;
  background-color: #202529;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  border-radius: 10px;
  border: solid 1px #202529;
  margin: 2rem;
  padding: 1rem; }
