/* Footer */

footer {

    background-color: $color-titulos;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .footer {

        display: flex;

        flex-direction: row;

        justify-content: space-between;
        font-family: $font-Principal;

        .asesoramiento-footer {

            margin-top: 2rem;

            h3 {

                color: $color-base ;
                margin-bottom: 3%;
                font-weight: 600;


            }

            p {
                color: $color-base ;
                font-size: $text-Small;

            }

            .btn-contactanos {

                color: $color-base;
                font-size: $text-Small;
                font-family: $font-Title;
                border: solid 1px $color-base;
                background-color: $color-titulos ;

                padding: 3%;
                text-align: left;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer
            }
        }

        .divFooter {



            margin-left: 15%;
            margin-top: 2rem;



            & p {
                color: $color-base ;
                font-size: $text-Small;
            }

            & .iconos-footer {

                display: flex;
                flex-direction: row;
                gap: 1rem;
            }


            & .iconos {

                gap: 1rem;
                height: 25px;
                width: 25px;
            }



        }

        .logo-footer {

            img {
                width: 200px;

                margin-top: 5rem;
            }
        }





    }


    .finFooter {
        background-color: $color-titulos;
        font-size: 0.7em;

        text-align: center;
        margin-top: 5rem;



        p {
            color: $color-base;

        }
    }


}

// BOTON DE CONTACTO