// LOGO

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35%;
}

.logo {
    display: flex;
    justify-content: flex-start;

    .tituloSalutte {

        display: flex;
        justify-content: flex-start;
        font-size: $text-Medium;
        font-family: $font-Title;
        margin-top: 3%;

        a {

            text-decoration: none;
            color: $color-titulos;

        }

        :hover {

            color: $color-titulos;


        }
    }
}

// MENU DE NAVEGACION

.header {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

    .navbar {
        font-family: $font-Principal;
        font-size: $text-Small ;
        color: $color-principal;
    }

    .nav-link {

        font-family: $font-Principal;
        font-size: $text-Small ;
        color: $color-principal;
        margin: 0 10px;
        transition: all .3s linear;

    }

    .dropdown-menu {
        margin: 0 10px;

    }

    .dropdown-item {

        font-family: $font-Principal;
        font-size: $text-Small ;
        color: $color-principal;
        padding: 2rem;
    }

    .nav-link:hover {

        color: $color-base;
        background: $color-titulos;
        padding: 2rem;

    }

}