/*header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
}*/



// MENU DE NAVEGACION

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    margin-top: 3rem;
    font-size: $text-header;
    color: $color-principal;


    // LOGO

    .logo {


        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
        font-size: $text-header ;



    }

    // NAVBAR

    .navbar {

        font-family: $font-Principal;


    }

    .nav-link {

        font-family: $font-Principal;
        font-size: $text-header ;
        color: $color-principal;
        margin: 0 10px;
        transition: all .3s linear;

    }

    .dropdown-menu {
        margin: 0 10px;

    }

    .dropdown-item {

        font-family: $font-Principal;
        font-size: $text-Small ;
        color: $color-principal;
        padding: 2rem;
    }

    .nav-link:hover {

        color: $color-base;
        background: $color-titulos;
        padding: 2rem;

    }

}