// HEADER

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: $text-header;
    color: $color-principal;


    // LOGO

    .logo {


        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
        font-size: $text-Small ;



    }

    // NAVBAR

    .navbar {

        font-family: $font-Principal;
        //margin-top: 2rem;


    }

    .nav-link {

        font-family: $font-Principal;
        font-size: $text-header ;
        letter-spacing: 2px;
        color: $color-principal;
        margin: 0 10px;
        gap: 5rem;
        padding: 2rem;
        transition: all .3s linear;



    }

    // MENU DE NAVEGACION

    .dropdown-menu {
        margin: 0 10px;

    }

    .dropdown-item {

        font-family: $font-Principal;
        font-size: $text-Small ;
        color: $color-principal;
        padding: 1rem;

    }

    .nav-link:hover {

        color: $color-base;
        background: $color-titulos;



    }

}