.contacto {


    background-image: url(../img/gray-concrete-wall.jpg);

    h1 {

        color: $color-titulos;
        font-family: $font-Title;
        text-align: center;
        margin-top: 3rem;
        font-weight: 600;
    }

    h2 {

        text-align: center;
        margin-bottom: 2rem;
        font-family: $font-Title;
        font-size: $text-Base;
        font-weight: 600;
        color: $color-titulos;
    }

    .consulta-contacto {

        margin-top: 5%;
        text-align: center;
    }

    .parrafoProp {


        margin-left: 5rem;
        background-color: $color-nosotros !important;
        color: $color-base;
        padding: 3%;
    }

    .contacto-llamada {

        margin-top: 3rem;

    }

    .btn-numero {

        margin-top: 4%;

        color: $color-titulos;
        font-size: $text-Base;
        font-family: $font-Title;
        border: solid $color-titulos;
        padding: 1%;


        box-shadow: 0 0 5px $color-titulos;
    }

    .chat {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        justify-content: center;

    }

    .icon-wsp {

        height: 30px;
        width: 30px;
        color: $color-base;


    }

    p {

        margin-top: 1rem;

        color: $color-titulos;
    }
}

/* FORMULARIO */


.mb-3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-select {

        width: 50rem;
        margin-top: 2rem;
        font-family: $font-Principal;
        font-size: $text-Small;
    }
}

.form-label {

    font-family: $font-Principal;
    margin-top: 2rem;
    font-size: $text-Base;

}

.form-control {

    width: 50rem;


}

#exampleFormControlTextarea1 {

    margin-top: 2rem;
}

.btn {

    margin-top: 2rem;
    color: $color-base;
    background-color: $color-principal;
    font-family: $font-Principal;
    font-size: $text-Base;
    border: solid 1px $color-titulos;
    margin: 2rem;
    padding: 1rem;



}


@media screen and (max-width: 480px) {

    .contacto {

        .parrafoProp {


            margin-left: 0;
            background: $color-principal;
            color: $color-base;
            margin-top: 2rem;
            font-size: $text-Small;

        }

    }


    /* FORMULARIO */


    .mb-3 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-select {

            width: 38rem;
            margin-top: 2rem;
            font-family: $font-Principal;
            font-size: $text-Small;
        }
    }

    .form-control {

        width: 38rem;


    }




}