.inicio-contacto {

    background-color: $color-titulos;
    color: $color-base;
    text-align: center;
    margin-top: 3%;
    height: 100%;

    h1 {

        color: $color-base ;
        margin-top: 3%;


    }

    h2 { margin-bottom: 3%;


    }

  

}