.inicio-contacto {

    background-color: $color-titulos;
    color: $color-base;

    height: 300px;

    font-family: $font-Title ;


    margin-top: 5rem;

    .texto-inicio-contacto {


        position: absolute;
        text-align: center;
        margin-left: 25%;


        h1 {

            color: $color-base ;
            text-align: center;
            margin-top: 5rem;
            font-weight: 600;




        }


        h2 {


            margin-top: 2rem;

        }

        a {


            color: $color-base ;
        }

        .icon-wsp {

            height: 30px;
            width: 30px;
            color: $color-base;
            margin-top: 1rem;

        }
    }

}

.contacto {


    background-image: url(../img/gray-concrete-wall.jpg);

    h1 {

        color: $color-principal;
        font-family: $font-Title;
        text-align: center;
        margin-top: 3rem;
    }

    h2 {

        text-align: center;
        margin-bottom: 2rem;
        font-family: $font-Title;
    }

    .consulta-contacto {

        margin-top: 5%;
        text-align: center;
    }

    .parrafoProp {


        margin-left: 5rem;
        background: $color-principal;
        color: $color-base;
        height: 20%;
        padding: 2%;
    }

    .contacto-llamada {

        margin-top: 5rem;

    }

    .btn-numero {

        margin-top: 4%;

        color: $color-principal;
        font-size: $text-Base;
        font-family: $font-Title;
        border: solid $color-principal;
        padding: 1%;
        border-radius: 10px;

        box-shadow: 0 0 10px $color-principal;
    }

    .chat {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        justify-content: center;

    }

    .icon-wsp {

        height: 30px;
        width: 30px;
        color: $color-base;


    }

    p {

        margin-top: 1rem;

        color: $color-principal;
    }
}

/* FORMULARIO */


.mb-3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-select {

        width: 50rem;
        margin-top: 2rem;
        font-family: $font-Principal;
        font-size: $text-Small;
    }
}

.form-label {

    font-family: $font-Principal;
    margin-top: 2rem;
    font-size: $text-Base;

}

.form-control {

    width: 50rem;


}

#exampleFormControlTextarea1 {

    margin-top: 2rem;
}

.btn {

    margin-top: 2rem;
    color: $color-base;
    background-color: $color-principal;
    font-family: $font-Principal;
    font-size: $text-Base;
    border-radius: 10px;
    border: solid 1px $color-principal;
    margin: 2rem;
    padding: 1rem;



}