
// INICIO DE PÁGINA

.inicio-pagina {
    
    background-image: url(../img/gray-concrete-wall.jpg);

    margin-top: 5%;

    .titulos {

        color: $color-titulos;
        font-size: $text-title;
        font-family: $font-Title;
       
      
    }

    .texto-inicio {

        margin-top: 10%;
        text-align: center;
    }

    p {

        margin: 4% 4% 0 4%;
    }

    .carousel-fade{
       
      /*   padding: 2%;
        border-radius: 10px;
       background-color: $color-titulos;*/
       border: solid $color-titulos opacity($color: #780000a2) 10px;
        
    }
}

.btn-contactanos {
    
    margin-top: 3%;
    margin-bottom: 5%;
    color: $color-base;
    font-size: $text-Base;
    font-family: $font-Title;
    border: solid $color-titulos;
    padding: 1%;
    border-radius: 10px;
    background-color: $color-titulos;
    box-shadow: 0 0 10px $color-titulos;
    
}

// SECCION NUESTROS SERVICIOS

.seccion {

    background-image: url(../img/gray-concrete-wall.jpg);
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;

    .titulos {

        color: $color-titulos;
        font-size: $text-title;
        font-family: $font-Title;
        margin-top: 5%;
       
      
    }

    .col {

        margin-top: 5%;
    }

    .inicio-servicios {

        margin-top: 3%;
        
       }

       .img-servicios {

        width: 60% ;
        border-radius: 21px;
        margin: 3%;
       }

    .button {

        margin-bottom: 3%;
    }
} 



// ASESORAMIENTO

.asesoramiento {

    background-color: $color-principal;
    margin-top: 3% ;
    margin-bottom: 1%;
   

    h3 {

        color: $color-base ;
        margin-bottom: 3%;
       
    
    }

    p {
        color: $color-base ;
        font-size: $text-Small;
    }

    .info-asesoramiento {
      margin-top: 3%;
      text-align: center;
      margin-bottom: 3%;
    }

    .logo-asesoramiento {

        margin-top: 5%;
        text-align: center;
    }
}

.separacion {

    background-color: $color-subtitulos;
}