// INICIO DE PÁGINA


.inicio-banner {
    position: relative;
    background-image:
        url('../Img/Homeimg.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 600px;


    .section-banner {

        text-align: start;
        position: absolute;
        top: 70%;
        left: 45%;
        transform: translate(-50%, -50%);
        font-family: $font-Title;
        font-size: $text-banner;


        p {

            color: $color-base;
            margin: 0;
            line-height: 100%;
            font-weight: 600;
            padding: 1rem;
            display: inline-block;


        }
    }

}



.inicio-pagina {


    height: 850px;
    width: 100%;
    text-align: center;
    margin-top: 3%;

    .titulos {

        color: $color-nosotros;
        font-size: $text-subtitle;
        font-family: $font-Title;
        letter-spacing: 10px;


    }

    .texto-inicio {

        margin-top: 5%;

    }

    .p-Quienes-Somos {


        padding: 1%;

        font-size: $text-Base;

    }

    p {

        color: $color-nosotros;
        margin: 4% 8% 4% 8%;

    }


}



// SECCION NUESTROS SERVICIOS

.seccion-servicios {

    background-color: $color-principal;
    height: 85rem;
    width: 100%;


    .titulo-servicios {


        color: $color-base;
        font-size: $text-title;
        font-family: $font-Title;
        text-align: center;
        padding: 5rem;
        letter-spacing: 10px;
        font-weight: 600;





    }


}

.cardServicios {
    margin-top: 5rem;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



    .boxServicios {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        transition: all 0.3s linear;



    }

    h3 {

        font-family: $font-subtitulos;
        font-weight: 600;
        margin: 1rem 1rem 0 1rem;


    }

    .boxServicios__img {


        width: 90%;
        position: relative;

    }

    .boxServicios__info {

        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 90%;
        background-color: rgba(255, 255, 255, 0.856);
        height: 30%;
        text-align: left;
        font-size: 1.1em;
        padding: 2%;
        font-family: $font-Principal;
        color: $color-principal;


    }

    .boxServicios__info:hover {

        opacity: .6;
    }



    .boxServicios__text {
        margin: 1rem 1rem 1rem 1rem;
    }

    .boxServicios:hover {

        transform: scale(1.1, 1.1);

    }



}

// SECCION NUESTROS PRODUCTOS

.seccionProductosInicio-responsivo {

    display: none
}

.seccion-productos {


    .box-pisos {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: end;
        width: 100%;
        height: 50%;

        .img-productos {

            width: 50%;


        }


        .info-boxProductos {


            text-align: left;
            width: 50%;
        }


        h2 {
            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        p {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-productos {


            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer
        }

    }



    .box-Paredes {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .img-productos-paredes {
            width: 50%;

        }


        .info-boxProductosParedes {


            text-align: left;

            width: 50%;
        }


        h2 {
            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        p {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-productos {


            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer
        }


    }


}

// Cierre de inicio estetica imagen

.fin-banner {

    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    background-image:
        url('../Img/banner2.png')
}

.parrafoBannerFin {
    color: $color-base;
    font-weight: 600;
    padding: 5%;
    text-align: center;
    margin-bottom: 5rem;
    font-size: $text-title;


    p {
        color: $color-base ;
        margin-top: 10rem;


    }


}


@media screen and (max-width: 768px) {

    .inicio-banner {

        height: 400px;

        .section-banner {


            font-size: $text-Small;
            margin-left: 2rem;
            margin-top: 5rem;

        }


    }


    .inicio-pagina {


        height: 650px;
        width: 100%;
        text-align: center;
        margin-top: 4rem;


        .titulos {

            font-size: $text-uniforme;
            margin-bottom: 4rem;
        }

        .texto-inicio {

            margin-top: 8rem;

        }

        .p-Quienes-Somos {


            padding: 1%;

            font-size: 1rem;

        }

        p {

            color: $color-nosotros;
            margin: 4% 8% 2% 8%;

        }


    }

    .seccion-servicios {

        background-color: $color-principal;
        height: 160rem;
        width: 100%;

        .cardServicios {
            margin-top: 3rem;


            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .boxServicios {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h3 {

                font-family: $font-Principal;
                font-weight: 600;
                margin: 1rem 1rem 0 1rem;


            }

            .boxServicios__img {


                position: relative;
                margin-bottom: 2rem;

            }

            .boxServicios__info {

                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: 2%;
                margin-right: 2%;
                margin-top: 80%;
                background-color: rgba(255, 255, 255, 0.856);
                height: 38%;
                text-align: left;
                font-size: 1em;
                padding: 2%;
                font-family: $font-Principal;
                color: $color-principal;


            }

            .boxServicios__text {
                margin: 1rem 1rem 1rem 1rem;
            }

        }
    }

    // SECCIÓN PRODUCTOS NONE

    .seccion-productos {

        display: none;
    }

    // SECCIÓN PRODUCTOS RESPONSIVO

    .seccionProductosInicio-responsivo {

        display: block;



        .box-pisosResponsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;


            .img-productosResponsivo {


                img {



                    margin-bottom: 3rem;
                }


            }


            .info-boxProductosResponsivo {


                text-align: right;
                width: 350px;
                margin-bottom: 4rem;

                h2 {
                    text-align: left;
                    font-family: $font-subtitulos;
                    font-size: $text-uniforme;
                    font-weight: 600
                }

                p {

                    text-align: justify;
                    margin: 2rem 0rem 3rem 0rem;
                }

                .btn-productosResponsivo {


                    margin: 2rem 0rem 4rem 0rem;
                    color: $color-principal;
                    font-size: $text-Base;
                    font-family: $font-Title;
                    border: solid 1px $color-principal;

                    padding: 2%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer
                }

            }

        }

        .box-ParedesResponsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .img-productos-paredesResponsivo {

                img {

                    margin-bottom: 3rem;
                }


            }


            .info-boxProductosParedesResponsivo {


                text-align: right;
                width: 350px;
                margin-bottom: 4rem;

                h2 {
                    text-align: left;
                    font-family: $font-subtitulos;
                    font-size: $text-uniforme;
                    font-weight: 600
                }

                p {

                    text-align: justify;
                    margin: 2rem 0rem 3rem 0rem;
                }

                .btn-productosResponsivo {


                    margin: 2rem 0rem 4rem 0rem;
                    color: $color-principal;
                    font-size: $text-Base;
                    font-family: $font-Title;
                    border: solid 1px $color-principal;

                    padding: 2%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer
                }

            }

        }

    }

}