.flyer-productos {

    background: url('../Img/banner4.png');
    background-position: center;
    position: relative;
    background-size: cover;
    height: 600px;
    margin-top: 2rem;

    .section-flyers {


        text-align: center;
        position: absolute;

        transform: translate(-50%, -50%);
        font-family: $font-Title;
        top: 45%;
        left: 35%;



        h1 {
            font-size: $text-Large;
            position: absolute;
            text-align: center;
            padding: 2rem;
            color: $color-base;

            font-weight: 600;
            display: inline-block;
            letter-spacing: 10px;



        }
    }


}

// SECCION NUESTROS PRODUCTOS

.seccionProductos-responsivo {

    display: none
}

.seccion-productos {

    width: 100%;

    .box-pisos {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        width: 100%;
        height: 50%;

        .img-productos {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;
        }


        .info-boxProductos {


            text-align: left;
            width: 50%;
        }


        h2 {
            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        p {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-productos {


            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer
        }

    }

    .box-Paredes {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;


        .img-productos-paredes {
            width: 50%;

        }


        .info-boxProductosParedes {


            text-align: left;

            width: 50%;




        }


        h2 {
            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        p {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-productos {


            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer
        }


    }


}


@media screen and (max-width: 768px) {

    .flyer-productos {

        height: 400px;


        .section-flyers {

            left: 3rem;



            h1 {
                font-size: $text-Medium;





            }
        }

    }


    // SECCIÓN PRODUCTOS NONE

    .seccion-productos {

        display: none;
    }

    // SECCIÓN PRODUCTOS RESPONSIVO

    .seccionProductos-responsivo {

        display: block;
        margin-top: 3rem;


        .boxProductos-pisosResponsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .img-productosResponsivo {

                img {
                    width: 450px;

                }


            }


            .info-boxProductosResponsivo {


                text-align: right;
                width: 350px;
                margin-bottom: 4rem;

                h2 {
                    text-align: left;
                    font-family: $font-subtitulos;
                    font-size: $text-uniforme;
                    font-weight: 600
                }

                p {

                    text-align: justify;
                    margin: 2rem 0rem 3rem 0rem;
                }

                .btn-productosResponsivo {


                    margin: 2rem 0rem 4rem 0rem;
                    color: $color-principal;
                    font-size: $text-Base;
                    font-family: $font-Title;
                    border: solid 1px $color-principal;

                    padding: 2%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer
                }

            }

        }

        .boxProductos-ParedesResponsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .img-productos-paredesResponsivo {

                img {
                    width: 450px;

                }


            }


            .info-boxProductosParedesResponsivo {

                text-align: right;
                width: 350px;
                margin-top: 3rem;
                margin-bottom: 3rem;

                h2 {
                    text-align: left;
                    font-family: $font-subtitulos;
                    font-size: $text-uniforme;
                    font-weight: 600
                }

                p {

                    text-align: justify;
                    margin: 2rem 0rem 3rem 0rem;
                }

                .btn-productosResponsivo {


                    margin: 2rem 0rem 4rem 0rem;
                    color: $color-principal;
                    font-size: $text-Base;
                    font-family: $font-Title;
                    border: solid 1px $color-principal;

                    padding: 2%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer
                }

            }

        }

    }
}

@media screen and (max-width: 360px) {


    .flyer-productos {

        height: 400px;


        .section-flyers {

            left: 1.5rem;



            h1 {
                font-size: $text-Medium;

            }
        }

    }

    .seccionProductos-responsivo {

        display: block;
        margin-top: 3rem;


        .boxProductos-pisosResponsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .img-productosResponsivo {

                img {
                    width: 360px;

                }


            }


            .info-boxProductosResponsivo {


                text-align: right;
                width: 300px;
                margin-bottom: 4rem;

                h2 {
                    text-align: left;
                    font-family: $font-subtitulos;
                    font-size: $text-uniforme;
                    font-weight: 600
                }

                p {

                    text-align: justify;
                    margin: 2rem 0rem 3rem 0rem;
                }

                .btn-productosResponsivo {


                    margin: 2rem 0rem 4rem 0rem;
                    color: $color-principal;
                    font-size: $text-Base;
                    font-family: $font-Title;
                    border: solid 1px $color-principal;

                    padding: 2%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer
                }

            }

        }

        .boxProductos-ParedesResponsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .img-productos-paredesResponsivo {

                img {
                    width: 360px;

                }


            }


            .info-boxProductosParedesResponsivo {

                text-align: right;
                width: 300px;
                margin-top: 3rem;
                margin-bottom: 3rem;

                h2 {
                    text-align: left;
                    font-family: $font-subtitulos;
                    font-size: $text-uniforme;
                    font-weight: 600
                }

                p {

                    text-align: justify;
                    margin: 2rem 0rem 3rem 0rem;
                }

                .btn-productosResponsivo {


                    margin: 2rem 0rem 4rem 0rem;
                    color: $color-principal;
                    font-size: $text-Base;
                    font-family: $font-Title;
                    border: solid 1px $color-principal;

                    padding: 2%;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer
                }

            }

        }

    }




}