#seccion-rParedes {

    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {

        font-size: $text-Base;
    }


    .boxParedes {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin-top: 5%;
    }

    .boxParedes__img {

        width: 100%;
        box-shadow: 0 0 10px $color-principal;
        border: $color-principal;
        margin-top: 2%;

    }



    .boxParedes__info {

        margin-top: 10rem;
    }

    .boxParedes__title {


        font-family: $font-subtitulos;
        font-size: $text-Medium;
        font-weight: 600;
        text-align: justify;
        margin-left: 3.5rem;
    }

    .boxParedes__text {


        font-size: $text-Base;
        margin: 3rem 3rem 5rem 3rem;
    }

    .btn-rParedes {

        margin-top: 4rem;
        color: $color-base;
        font-size: $text-Base;
        font-family: $font-Principal;
        border: solid $color-titulos;
        padding: 1%;
        border-radius: 10px;
        background-color: $color-titulos;
        box-shadow: 0 0 10px $color-titulos;
        text-decoration: none;
        cursor: pointer;
    }
}