#sectionParedes-Responsive {

    display: none;
}

#seccion-rParedes {

    text-align: center;
    width: 100%;
    height: 100%;
    //margin-top: 20rem;
    //margin-bottom: 1rem;



    .boxParedes-microCemento {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        width: 100%;
        height: 70%;


        .boxParedes__img {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;


        }


        .boxParedes__info {
            text-align: left;

            margin-top: 8rem;
            font-size: $text-header;
            width: 50%;
        }

        .boxParedes__title {

            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        .boxParedes__text {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-paredes {
            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
        }


    }

    .boxParedes-stuccoVeleziano {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        width: 100%;
        height: 70%;


        .boxParedes__img {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;


        }


        .boxParedes__info {
            text-align: left;

            margin-top: 8rem;
            font-size: $text-header;
            width: 50%;
        }

        .boxParedes__title {

            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        .boxParedes__text {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-paredes {
            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
        }


    }

    .boxParedes-pedraFlex {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        width: 100%;
        height: 70%;


        .boxParedes__img {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;


        }


        .boxParedes__info {
            text-align: left;

            margin-top: 8rem;
            font-size: $text-header;
            width: 50%;
        }

        .boxParedes__title {

            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        .boxParedes__text {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-paredes {
            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
        }


    }

    .boxParedes-tarquini {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        width: 100%;
        height: 70%;


        .boxParedes__img {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;


        }


        .boxParedes__info {
            text-align: left;

            margin-top: 8rem;

            font-size: $text-header;
            width: 50%;
        }

        .boxParedes__title {

            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        .boxParedes__text {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-paredes {
            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
        }


    }
}


@media screen and (max-width: 480px) {

    .flyer-RevestimientoPisos {

        height: 400px;

        .section-flyers {

            left: 2rem;



            h1 {
                font-size: $text-Medium;





            }
        }


    }

    #seccion-rParedes {

        display: none;
    }

    #sectionParedes-Responsive {

        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 2rem;


        .boxPisosResponsivo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            .boxPisos__imgResponsivo {

                width: 400px;



            }


            .boxPisos__infoResponsivo {

                text-align: right;
                margin-top: 3rem;
                margin-bottom: 3rem;

                width: 300px;
            }

            .boxPisos__titleResponsivo {


                text-align: left;
                font-family: $font-subtitulos;
                font-size: $text-Medium;
                font-weight: 600
            }

            .boxPisos__textResponsivo {


                text-align: justify;
                margin: 3rem 0 3rem 0;
            }

            .btn-rPisosResponsivo {

                margin: 3rem 0 3rem 0;
                color: $color-principal;
                font-size: $text-Base;
                font-family: $font-Title;
                border: solid 1px $color-principal;
                padding: 2%;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer
            }


        }
    }

    // modal

    .tituloRevestimientosResponsive {

        font-size: $text-title !important;
        font-family: $font-Title !important;
    }

    .sectionRevestimientosResponsive {

        h3 {
            font-family: $font-subtitulos;
            font-size: $text-Base;
            font-weight: 600;
            text-align: center;
            margin-top: 5rem;
            border: solid 1px $color-border;
            padding: 2rem;
            width: 100%;
            color: $color-border;
        }

        p {

            margin-top: 2rem;
            text-align: justify;
            font-size: $text-Small;

        }
    }

    /*.section-modal {
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .img-modal {
    
        height: 60px;
        width: 60px;
    } */

    .botones-modalResponsive {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-top: 5rem;
        text-decoration: none !important;

    }

    .boton-columnResponsive {

        display: flex;
        flex-direction: column;
        font-weight: 600 !important;

    }

    .icon-wspResponsive {


        height: 70px;
        width: 70px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }


}