.flyer-revestimientoPisos {

    background: url('../Img/banner4.png');
    background-position: center;
    position: relative;
    background-size: cover;
    height: 600px;
    margin-top: 2rem;

    .section-flyers {


        text-align: center;
        position: absolute;

        transform: translate(-50%, -50%);
        font-family: $font-Title;
        top: 45%;
        left: 30%;



        h1 {
            font-size: $text-Large;
            position: absolute;
            text-align: center;
            padding: 2rem;
            color: $color-base;

            font-weight: 600;
            display: inline-block;
            letter-spacing: 10px;



        }
    }


}




#sectionPisos-Responsive {

    display: none
}


#sectionPisos {
    text-align: center;
    width: 100%;
    height: 100%;


    .subtitle-productos {
        font-weight: 600;


    }

    p {

        font-size: $text-subtitle;

    }


    .boxPisos {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;

        width: 100%;
        height: 70%;


        .boxPisos__img {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;


        }


        .boxPisos__info {

            text-align: left;
            margin-top: 10rem;

            width: 50%;
        }

        .boxPisos__title {

            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        .boxPisos__text {

            text-align: left;
            margin: 5rem 20rem 5rem 10rem;

        }

        .btn-rPisos {

            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer
        }
    }



    .boxPisosPorcelanato {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: start;


        .boxPisos__img {

            width: 50%;
            border: $color-principal;
            display: flex;
            align-items: center;


        }


        .boxPisos__info {

            text-align: left;
            margin-top: 10rem;

            width: 50%;
        }

        .boxPisos__title {


            text-align: justify;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            margin-left: 3rem;
            font-weight: 600
        }

        .boxPisos__text {


            text-align: left;
            margin: 5rem 20rem 5rem 10rem;
        }

        .btn-rPisos {

            margin: 5rem 20rem 5rem 10rem;
            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;

            padding: 2%;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer
        }


    }
}

// modal

.tituloRevestimientos {

    font-size: $text-title !important;
    font-family: $font-Title !important;
}

.sectionRevestimientos {

    h3 {
        font-family: $font-subtitulos;
        font-size: $text-Base;
        font-weight: 600;
        text-align: center;
        margin-top: 5rem;
        border: solid 1px $color-border;
        padding: 2rem;
        width: 100%;
        color: $color-border;
    }

    p {

        margin-top: 2rem;
        text-align: justify;
        font-size: $text-Small;

    }
}


.botones-modal {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    text-decoration: none !important;

}

.boton-column {

    display: flex;
    flex-direction: column;
    font-weight: 600 !important;

}

.icon-wsp {


    height: 70px;
    width: 70px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}




@media screen and (max-width: 480px) {

    .flyer-revestimientoPisos {

        height: 400px;


        .section-flyers {

            left: 1rem;



            h1 {
                font-size: $text-uniforme;





            }
        }

    }

    #sectionPisos {

        display: none;
    }

    #sectionPisos-Responsive {

        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 2rem;


        .boxPisosPorcelanatoResponsivo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            .boxPisos__imgResponsivo {

                width: 360px;



            }


            .boxPisos__infoResponsivo {

                text-align: right;
                margin-top: 3rem;
                margin-bottom: 3rem;

                width: 300px;
            }

            .boxPisos__titleResponsivo {


                text-align: left;
                font-family: $font-subtitulos;
                font-size: $text-uniforme;
                font-weight: 600
            }

            .boxPisos__textResponsivo {


                text-align: justify;
                margin: 3rem 0 3rem 0;
            }

            .btn-rPisosResponsivo {

                margin: 3rem 0 3rem 0;
                color: $color-principal;
                font-size: $text-Base;
                font-family: $font-Title;
                border: solid 1px $color-principal;
                padding: 2%;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer
            }


        }

        .boxPisosResponsivo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            .boxPisos__imgResponsivo {

                width: 360px;



            }


            .boxPisos__infoResponsivo {

                text-align: right;
                margin-top: 3rem;
                margin-bottom: 3rem;

                width: 300px;
            }

            .boxPisos__titleResponsivo {


                text-align: left;
                font-family: $font-subtitulos;
                font-size: $text-uniforme;
                font-weight: 600
            }

            .boxPisos__textResponsivo {


                text-align: justify;
                margin: 3rem 0 3rem 0;
            }

            .btn-rPisosResponsivo {

                margin: 3rem 0 3rem 0;
                color: $color-principal;
                font-size: $text-Base;
                font-family: $font-Title;
                border: solid 1px $color-principal;
                padding: 2%;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer
            }


        }
    }

    // modal

    .tituloRevestimientosResponsive {

        font-size: $text-Small ;
        font-family: $font-Title ;
    }

    .sectionRevestimientosResponsive {

        h3 {
            font-family: $font-subtitulos;
            font-size: $text-Base;
            font-weight: 600;
            text-align: center;
            margin-top: 5rem;
            border: solid 1px $color-border;
            padding: 2rem;
            width: 100%;
            color: $color-border;
        }

        p {

            margin-top: 2rem;
            text-align: justify;
            font-size: $text-Small;

        }
    }

    .botones-modalResponsive {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-top: 5rem;
        text-decoration: none !important;

    }

    .boton-columnResponsive {

        display: flex;
        flex-direction: column;
        font-weight: 600 !important;

    }

    .icon-wspResponsive {


        height: 70px;
        width: 70px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }


}

@media screen and (max-width: 360px) {

    .flyer-revestimientoPisos {

        height: 400px;


        .section-flyers {

            left: 0;



            h1 {
                font-size: $text-uniforme;
            }
        }

    }



}