#sectionPisos {

    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {

        font-size: $text-Base;
    }


    .boxPisos {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin-top: 5%;
    }

    .boxPisos__img {

        width: 100%;
        box-shadow: 0 0 10px $color-principal;
        border: $color-principal;
        margin-top: 2%;

    }



    .boxPisos__info {

        margin-top: 10rem;
    }

    .boxPisos__title {


        font-family: $font-subtitulos;
        font-size: $text-Medium;
        font-weight: 600;
        text-align: justify;
        margin-left: 3.5rem;
    }

    .boxPisos__text {


        font-size: $text-Base;
        margin: 3rem 3rem 5rem 3rem;
    }

    .btn-rPisos {

        margin-left: 3%;
        margin-top: 5%;
        color: $color-principal;
        font-size: $text-Base;
        font-family: $font-Title;
        border: solid 1px $color-principal;
        padding: 2%;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
    }
}

// modal

.tituloRevestimientos {

    font-size: $text-title !important;
    font-family: $font-Title !important;
}

.sectionRevestimientos {

    h3 {
        font-family: $font-subtitulos;
        font-size: $text-subtitle;
        font-weight: 600;
        text-align: center;
        margin-top: 5rem;
        border: $color-titulos;
        background-color: #7800007c;
        padding: 2rem;
        width: 50%;
        margin-left: 25%;
    }

    p {

        margin-top: 2rem;
    }
}

/*.section-modal {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-modal {

    height: 60px;
    width: 60px;
} */

.botones-modal {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    text-decoration: none !important;

}

.boton-column {

    display: flex;
    flex-direction: column;
    font-weight: 600 !important;

}

.icon-wsp {


    height: 70px;
    width: 70px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}