

.flyer-servicios {

    background-image: url(../img/gray-concrete-wall.jpg);
    background-position: left center;
    background-size: cover;
    height: 300px;
    width: 35%;
    text-align: center;
    margin-top: 2rem;

    .banner {
        text-align: center;
    
    }

    .titulos-img {

        border: $color-titulos;
        background-color:  #7800005d;
        padding: 2rem;
        width: 50%;
        color: $color-base;
        margin-left: 25%;
        
        
     

    }


}




.card-servicios {

    text-align: center;
    margin-top: 5rem;
    

.inicio-servicios {

    text-align: center;


.col {

    border: $color-principal;
    border-radius: 10px;
    box-shadow: 0 0 10px $color-titulos;
    gap: 2rem;
    margin: 0 4rem 0 4rem;
}

h3 {

    margin-top: 1.5rem;
    font-family: $font-Title;
    font-size: $text-title;
}

p {

    margin: 2rem 2rem 1rem 2rem ;
    font-size: $text-Small;
    
}


} }