.flyer-servicios {

    background: url('../../Img/microcemento4.jpg');
    background-position: left center;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: 2rem;

    .titulos-img {
        text-align: center;
        border: $color-titulos;
        background-color: #7800009f;
        padding: 2rem;
        width: 50%;
        color: $color-base;
        margin-left: 25%;
        font-size: $text-Medium;


    }


}

.inicio-servicios {



    .titulos-servicios {

        margin-top: 4%;
        margin-bottom: 3%;
        margin-left: 3%;
        font-size: $text-Medium;


    }

    .textos-servicios {

        margin-bottom: 5rem;
        margin-top: 5rem;
        margin-left: 35rem;
        border: solid 2px $color-titulos;
        padding: 2%;
        width: 50%;
        text-align: center;

    }

}

.paso-paso {

    margin-top: 5rem;

    .col {


        margin: 2%;
        border: $color-principal;
        margin-top: 5rem;
        box-shadow: 0 0 10px $color-principal;
        gap: 2rem;

        text-align: center;



        h5 {

            font-size: $text-Base;
        }
    }


    .icono-servicios {

        margin-top: 2%;
        margin-bottom: 2%;
        width: 30%;
        color: $color-principal;

    }


}

.servicio-final {

    text-align: center;
    margin-bottom: 5rem;

    p {
        margin-top: 2rem;
        margin-bottom: 5rem;

    }

    .btn-contactanos-servicios {
        margin-left: 3%;
        margin-top: 5%;
        color: $color-principal;
        font-size: $text-Base;
        font-family: $font-Title;
        border: solid 1px $color-principal;
        padding: 2%;
        text-align: left;
        text-decoration: none;
        font-weight: 600;

    }
}