.flyer-servicios {

    background: url('../Img/banner3.png');
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-top: 2rem;
    position: relative;

    .section-flyers {


        text-align: center;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        font-family: $font-Title;



        h1 {
            font-size: $text-banner;
            position: absolute;
            text-align: center;
            padding: 2rem;
            color: $color-base;
            margin: 0;
            font-weight: 600;
            display: inline-block;
            letter-spacing: 10px;


        }
    }




}

.section-serviciosResponsivo {

    display: none;
}

.inicio-servicios {

    width: 100%;

    .boxServicios {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        margin-top: 5rem;
        width: 100%;
        height: 70%;
    }

    .paso-paso {

        width: 50%;
    }



    .info-servicios {

        text-align: left;
        width: 50%;

    }



    .titulos-servicios {
        text-align: left;
        margin-left: 10rem;

        font-family: $font-subtitulos;
        font-size: $text-Medium;
        letter-spacing: 2px;

        font-weight: 600
    }

    .textos-servicios {

        text-align: left;
        margin-top: 2rem;
        margin: 5rem 20rem 5rem 10rem;




    }

    .servicio-final {
        margin-top: 3rem;

        margin: 5rem 20rem 5rem 10rem;

        font-weight: 600
    }


    .btns-servicios {

        margin-bottom: 4rem;
        text-align: left;
        margin-left: 10rem;

    }

    .btn-contactanos-servicios {

        color: $color-principal;
        font-size: $text-Base;
        font-family: $font-Title;
        border: solid 1px $color-principal;
        padding: 2%;
        text-decoration: none;
        font-weight: 600;

    }


    .boxServicios-capacitaciones {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        margin-top: 3rem;
        width: 100%;


        .paso-paso {

            width: 50%;
        }



        .info-servicios {

            text-align: left;
            width: 50%;
            background-color: $color-titulos;
            color: $color-base;
            height: 764px;

        }



        .titulos-servicios {
            text-align: left;
            margin-left: 10rem;
            margin-top: 5rem;

            font-family: $font-subtitulos;
            font-size: $text-Medium;
            letter-spacing: 2px;

            font-weight: 600
        }

        .textos-servicios {

            text-align: left;
            margin-top: 2rem;
            margin: 5rem 20rem 5rem 10rem;
            color: $color-base;




        }

        .servicio-finalCapacitaciones {


            margin: 5rem 20rem 5rem 10rem;

            font-weight: 600;

            p {
                color: $color-base;
            }

        }

        .btn-contactanos-servicios {

            color: $color-base;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-base;
            padding: 2%;
            text-decoration: none;
            font-weight: 600;
            text-align: left;
            margin-left: 10rem;


        }
    }

    .boxServicios-ventas {

        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: end;
        width: 100%;
        height: 70%;


        .info-servicios {

            text-align: left;


        }



        .titulos-servicios {
            text-align: left;


            font-family: $font-subtitulos;
            font-size: $text-Medium;
            letter-spacing: 2px;

            font-weight: 600
        }

        .textos-servicios {

            text-align: left;
            margin-top: 2rem;





        }

        .btns-servicios {

            margin-bottom: 4rem;
            text-align: left;
            margin-left: 10rem;

        }

        .btn-contactanos-servicios {

            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;
            padding: 2%;
            text-decoration: none;
            font-weight: 600;

        }
    }


}


@media screen and (max-width: 480px) {

    .flyer-servicios {

        height: 400px;

        .section-flyers {

            left: 5rem;



            h1 {
                font-size: $text-Medium;





            }
        }


    }

    .inicio-servicios {

        display: none;

    }

    .section-serviciosResponsivo {

        display: block;


        .boxServiciosResponsivo {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 3rem;

        }

        .paso-pasoResponsivo {

            width: 100%;
            margin-top: 2rem;
        }



        .info-serviciosResponsivo {

            text-align: left;
            width: 350px;

        }



        .titulos-serviciosResponsivo {
            text-align: left;
            font-family: $font-subtitulos;
            font-size: $text-Medium;
            letter-spacing: 2px;
            font-weight: 600
        }

        .textos-serviciosResponsivo {

            text-align: justify;
            margin: 3rem 0rem 3rem 0rem;
            font-family: $text-header;




        }

        .servicio-finalResponsivo {
            margin-top: 3rem;

            margin: 3rem 0 3rem 0;

            font-weight: 600
        }


        .btns-serviciosResponsivo {

            margin-bottom: 3rem;
            text-align: right;
            margin-left: 10rem;

        }

        .btn-contactanos-serviciosResponsivo {

            color: $color-principal;
            font-size: $text-Base;
            font-family: $font-Title;
            border: solid 1px $color-principal;
            padding: 2%;
            text-decoration: none;
            font-weight: 600;

        }

        .boxServicios-CapacitacionesResponsivo {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $color-titulos;
            margin-top: 3rem;

            .info-serviciosCapacitacionesResponsivo {

                text-align: right;
                width: 350px;

                color: $color-base;
                margin-top: 3rem;


            }

            .titulos-serviciosCapacitacionesResponsivo {
                text-align: left;
                font-family: $font-subtitulos;
                font-size: $text-Medium;
                letter-spacing: 2px;
                font-weight: 600;
                color: $color-base;

            }

            .textos-serviciosCapacitacionesResponsivo {

                text-align: justify;
                margin: 3rem 0rem 4rem 0rem;
                font-family: $text-header;
                color: $color-base;



            }

            .servicio-finalCapacitacionesResponsivo {


                margin: 2rem 0 2rem 0;

                font-weight: 600;
                text-align: justify;

                p {
                    color: $color-base;
                }
            }

            .btn-contactanos-serviciosCapacitacionesResponsivo {

                color: $color-base;
                font-size: $text-Base;
                font-family: $font-Title;
                border: solid 1px $color-base;
                padding: 2%;
                text-decoration: none;
                font-weight: 600;
                text-align: right;

            }

            .paso-pasoCapacitacionesResponsivo {

                width: 350px;
            }

        }


    }

}