* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


img {

    width: 100%;
}


html {

    font-size: 62.5%;
}

body {

    min-height: 100vh;

}

h1 {

    font-size: $text-title;
    font-family: $font-Title;
    color: $color-titulos;


}

p {

    font-size: $text-Base;
    font-family: $font-Principal;
    color: $color-principal;
}